<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device CVEs</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>CVEs for Device ID: {{ device.id }}, {{ device.device_info.Vendor }}, {{ device.device_info.Product }}, {{ device.device_info.Version }}</h1>
    
    <!-- Displaying the total number of CVEs -->
    <h2>Total CVEs: {{ device_cves|length }}</h2>

    <table id="cveTable">
        <thead>
            <tr>
                <th>CVE ID</th>
                <th>Summary</th>
                <th>CVSS v3 Score</th>
                <th>CVSS v3 Label</th>
            </tr>
        </thead>
        <tbody>
            {% for device_cve in device_cves %}
                <tr>
                    <td>{{ device_cve.cve.cve_id }}</td>
                    <td>{{ device_cve.cve.summary }}</td>
                    <td>{{ device_cve.cve.cvss_v3_score }}</td>
                    <td>{{ device_cve.cve.cvss_v3_label }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready( function () {
            $('#cveTable').DataTable({
                "order": [[2, "desc"]] // This will sort the table by the third column (index 2) in descending order
            });
        });
    </script>
</body>
</html>
