<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan Network</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function autofillWindowsCredentials() {
            var username = document.getElementById('globalWindowsUsername').value;
            var password = document.getElementById('globalWindowsPassword').value;

            document.querySelectorAll('input[type="hidden"][value="Windows"]').forEach(function (hiddenInput) {
                var parentDiv = hiddenInput.closest('div');
                var usernameInput = parentDiv.querySelector('input[name^="username"]');
                var passwordInput = parentDiv.querySelector('input[name^="password"]');

                usernameInput.value = username;
                passwordInput.value = password;
            });
        }

        function autofillLinuxCredentials() {
            var username = document.getElementById('globalLinuxUsername').value;
            var password = document.getElementById('globalLinuxPassword').value;

            document.querySelectorAll('input[type="hidden"][value="Linux"]').forEach(function (hiddenInput) {
                var parentDiv = hiddenInput.closest('div');
                var usernameInput = parentDiv.querySelector('input[name^="username"]');
                var passwordInput = parentDiv.querySelector('input[name^="password"]');

                usernameInput.value = username;
                passwordInput.value = password;
            });
        }

        // New function to autofill MacBook credentials
        function autofillMacCredentials() {
            var username = document.getElementById('globalMacUsername').value;
            var password = document.getElementById('globalMacPassword').value;

            document.querySelectorAll('input[type="hidden"][value="Mac"]').forEach(function (hiddenInput) {
                var parentDiv = hiddenInput.closest('div');
                var usernameInput = parentDiv.querySelector('input[name^="username"]');
                var passwordInput = parentDiv.querySelector('input[name^="password"]');

                usernameInput.value = username;
                passwordInput.value = password;
            });
        }

        function validateDeviceDetails() {
            // Find all device input fields for usernames and passwords
            var allUsernames = document.querySelectorAll('input[name^="username"]');
            var allPasswords = document.querySelectorAll('input[name^="password"]');

            // Check if any username or password is empty
            for (var i = 0; i < allUsernames.length; i++) {
                if (allUsernames[i].value.trim() === '' || allPasswords[i].value.trim() === '') {
                    alert("Please fill in all details for all devices.");
                    return false; // Prevent the form submission
                }
            }
            return true; // Allow the form submission if all fields are filled
        }



        function clearAllFields() {
            // Target all text and password inputs within the form
            document.querySelectorAll('form input[type="text"], form input[type="password"]').forEach(function (inputField) {
                inputField.value = ''; // Clear each field
            });
            // Clear global autofill fields for Windows, Linux, and MacBook
            document.getElementById('globalWindowsUsername').value = '';
            document.getElementById('globalWindowsPassword').value = '';
            document.getElementById('globalLinuxUsername').value = '';
            document.getElementById('globalLinuxPassword').value = '';
            document.getElementById('globalMacUsername').value = '';
            document.getElementById('globalMacPassword').value = '';
        }

        function validateNetworkAddress() {
            var subnetInput = document.querySelector('input[name="subnet"]');
            var subnetPattern = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/(3[0-2]|[12]?[0-9]))$/;
            if (!subnetPattern.test(subnetInput.value)) {
                alert("Please enter a valid IP address with subnet mask (e.g., 192.168.1.1/24).");
                event.preventDefault();
                return false;
            }
            return true;
        }
    </script>
    </script>
</head>
<body>
    <div class="container mt-4">
        {% if not scanned %}
        <h1 class="mb-3">Enter Network to Scan</h1>
        <form action="" method="post" class="mb-3">
            <div class="mb-3">
                <input type="text" name="subnet" class="form-control" placeholder="192.168.0.0/24">
            </div>
            <button type="submit" class="btn btn-primary">Scan</button>
        </form>
        {% if ip_output %}
        <pre>{{ ip_output }}</pre>
        {% endif %}
        {% else %}
        <h1>Scan Results for {{ subnet }}</h1>
        <div class="mb-3">
            <input type="text" id="globalWindowsUsername" class="form-control" placeholder="Global Windows Username">
            <input type="password" id="globalWindowsPassword" class="form-control" placeholder="Global Windows Password">
            <button onclick="autofillWindowsCredentials()" class="btn btn-secondary mt-2">Autofill Windows Credentials</button>
        </div>
        <div class="mb-3">
            <input type="text" id="globalLinuxUsername" class="form-control" placeholder="Global Linux Username">
            <input type="password" id="globalLinuxPassword" class="form-control" placeholder="Global Linux Password">
            <button onclick="autofillLinuxCredentials()" class="btn btn-secondary mt-2">Autofill Linux Credentials</button>
        </div>
        <div class="mb-3">
            <input type="text" id="globalMacUsername" class="form-control" placeholder="Global MacBook Username">
            <input type="password" id="globalMacPassword" class="form-control" placeholder="Global MacBook Password">
            <button onclick="autofillMacCredentials()" class="btn btn-secondary mt-2">Autofill MacBook Credentials</button>
        </div>
        <form action="{{ url_for('cve_scanner.add_device') }}" method="post" onsubmit="return validateDeviceDetails()" class="mb-3">
            <h2 class="mb-3">Devices Found</h2>
            {% for ip in windows %}
            <div class="card mb-2">
                <div class="card-header">
                    Windows Device IP: {{ ip }}
                </div>
                <div class="card-body">
                    <input type="hidden" name="type[{{ ip }}]" value="Windows">
                    <input type="hidden" name="ip[]" value="{{ ip }}">
                    <input type="text" name="username[{{ ip }}]" class="form-control" placeholder="Windows Username">
                    <input type="password" name="password[{{ ip }}]" class="form-control" placeholder="Windows Password">
                </div>
            </div>
            {% endfor %}
            {% for ip in linux %}
            <div class="card mb-2">
                <div class="card-header">
                    Linux Device IP: {{ ip }}
                </div>
                <div class="card-body">
                    <input type="hidden" name="type[{{ ip }}]" value="Linux">
                    <input type="hidden" name="ip[]" value="{{ ip }}">
                    <input type="text" name="username[{{ ip }}]" class="form-control" placeholder="SSH Username">
                    <input type="password" name="password[{{ ip }}]" class="form-control" placeholder="SSH Password">
                </div>
            </div>
            {% endfor %}
            {% for ip in macbooks %}
            <div class="card mb-2">
                <div class="card-header">
                    MacBook Device IP: {{ ip }}
                </div>
                <div class="card-body">
                    <input type="hidden" name="type[{{ ip }}]" value="Mac">
                    <input type="hidden" name="ip[]" value="{{ ip }}">
                    <input type="text" name="username[{{ ip }}]" class="form-control" placeholder="Mac Username">
                    <input type="password" name="password[{{ ip }}]" class="form-control" placeholder="Mac Password">
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Send Login Details to Database</button>
        </form>
        <button type="button" onclick="clearAllFields()" class="btn btn-warning">Clear All Fields</button>
        <button onclick="window.location.href='/'" class="btn btn-link">Home</button>
        {% endif %}
    </div>
</body>
</html>