<html>
    <body>
        <p>Hello you have 5 scripts to choose 
        </p>
        <button onclick="window.location.href='/snmpwalker'">SNMP Walker</button>
        <button onclick="window.location.href='/snmpcomtester'">SNMP Community Tester </button>
        <button onclick="window.location.href='/arp_ip_vendor'">arp/ip/vendor</button>
        <button onclick="window.location.href='/discover_upnp'">UPNP Scanning</button>
        <button onclick="window.location.href='/mdns_discovery'">mDNS</button>
    </body>
</html>