<html>
    <body>
        <p>
        </p>
        <button onclick="window.location.href='/mdns_discovery'">mDNS</button>
        <button onclick="window.location.href='/scan'">Scan now </button>
        <button onclick="window.location.href='/devices'">show devices  </button>
        <button onclick="window.location.href='/test_details'">test details</details>  </button>
        <button onclick="window.location.href='/upnp_devices_detailed'">discover upnp detailed</details>  </button>
        <button onclick="window.location.href='/upnp_devices_github'">discover upnp detailed github   </button>
        <button onclick="confirmReset()">reset tables</button>
        <button onclick="window.location.href='/ssdp_spoofer'">ssdp spoofer </button>

        
        <script>
            function confirmReset() {
                if (confirm("Are you sure you want to reset all database tables? This action cannot be undone.")) {
                    window.location.href = "/reset_db";
                }
            }
            </script>
    </body>
</html>