<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan Network</title>
</head>
<body>
    {% if not scanned %}
    <h1>Enter Network to Scan</h1>
    <form action="" method="post">
        <input type="text" name="subnet" placeholder="192.168.0.0/24">
        <button type="submit">Scan</button>
    </form>
    {% else %}
    <h1>Scan Results for {{ subnet }}</h1>
    <form action="/add_device" method="post">
        <h2>Devices Found</h2>
        {% for ip in windows %}
        <div>
            <h3>Windows Device IP: {{ ip }}</h3>
            <input type="hidden" name="type[{{ ip }}]" value="Windows">
            <input type="hidden" name="ip[]" value="{{ ip }}">
            <input type="text" name="username[{{ ip }}]" placeholder="WRI Username">
            <input type="password" name="password[{{ ip }}]" placeholder="WRI Password">
        </div>
        {% endfor %}
        {% for ip in linux %}
        <div>
            <h3>Linux Device IP: {{ ip }}</h3>
            <input type="hidden" name="type[{{ ip }}]" value="Linux">
            <input type="hidden" name="ip[]" value="{{ ip }}">
            <input type="text" name="username[{{ ip }}]" placeholder="SSH Username">
            <input type="password" name="password[{{ ip }}]" placeholder="SSH Password">
        </div>
        {% endfor %}
        {% for ip in macbooks %}
        <div>
            <h3>MacBook Device IP: {{ ip }}</h3>
            <input type="hidden" name="type[{{ ip }}]" value="Mac">
            <input type="hidden" name="ip[]" value="{{ ip }}">
            <input type="text" name="username[{{ ip }}]" placeholder="SSH Username">
            <input type="password" name="password[{{ ip }}]" placeholder="SSH Password">
        </div>
        {% endfor %}
        <button type="submit">Send Log in Details to Database</button>
    </form>
    <a href="{{ url_for('index') }}"><button>Back to Home</button></a>
    {% endif %}
</body>
</html>
