<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SNMP Walker</title>
</head>
<body>
    <form action="/snmpwalker/result" method="post">
        <label for="ip_addr">IP Address: </label>
        <input type="text" name="ip_addr" id="ip_addr">
        <br>
        <label for="community_string">Community String: </label>
        <input type="text" name="community_string" id="community_string">
        <br>
        <label for="oid">OID: </label>
        <input type="text" name="oid" id="oid">
        <br>
        <button type="submit" value="Scan">Run Script</button>
    </form>
</body>
</html>