<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SNMP Walker</title>
</head>
<body>
    <form method="post" action="/snmpcomtester/result">
        <label for="ip_address">IP Address:</label>
        <input type="text" name="ip_address" id="ip_address">
        <label for="community_strings">Community Strings:</label>
        <input type="text" name="community_strings" id="community_strings">
        <input type="submit" value="Run Test">
    </form>
</body>
</html>