<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connection Test</title>
</head>
<body>
    <h1>Windows Detail Tester</h1>
    <form action="/test_windows" method="post">
        IP Address: <input type="text" name="windows_ip">
        WRI Username: <input type="text" name="windows_username">
        WRI Password: <input type="password" name="windows_password">
        <button type="submit">Test Windows Connection</button>
    </form>

    <h1>SSH Detail Tester</h1>
    <form action="/test_ssh" method="post">
        IP Address: <input type="text" name="ssh_ip">
        SSH Username: <input type="text" name="ssh_username">
        SSH Password: <input type="password" name="ssh_password">
        <button type="submit">Test SSH Connection</button>
    </form>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<button onclick="history.back()">Go Back</button>

</body>


</html>
